.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    width: 800px;
    height: 800px;
    border: 5px solid purple;
}

.PB-range-slider {
    appearance: none;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background: #D5DBE1;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.PB-range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #000000;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.PB-range-slider::-webkit-slider-thumb:hover {
    box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.16);
    transition: 0.8s ease-in-out;
}

.PB-range-slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #000000;
    cursor: pointer;
}

.PB-range-slider-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 6px;
    border: 1px solid #C6CACE;
    box-shadow: 0px 1px 2px 0px #1F1E241F;
}

.color-options {
    margin-top: 5%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: 3px solid black;
    border-radius: 15px;
}

.pencil-btn,
.erase-btn,
.strokeCircle-btn,
.fillCircle-btn,
.strokeRect-btn,
.fillRect-btn {
    width: 80px;
    height: 80px;
    background-color: white;
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    border: 1px solid black;
    border-radius: 10px;
}

.pencil-btn {
    background-image: url("/image/canvas/pencil_btn.png");
}

.erase-btn {
    background-image: url("/image/canvas/erase_btn.png");
}

.strokeRect-btn {
    background-image: url("/image/canvas/strokeRect_btn.png");
}

.fillRect-btn {
    background-image: url("/image/canvas/fillRect_btn.png");
}

.strokeCircle-btn {
    background-image: url("/image/canvas/strokeCircle_btn.png");
}

.fillCircle-btn {
    background-image:url("/image/canvas/fillCircle_btn.png");
}